.box-link{
  background-color: #ffffff;
  text-decoration: none;
  box-shadow: 0 0 10px 5px #e0e0e0;
  transition: transform 1s;
}

.box-link:hover{
  transform: translateY(-10px);
}

.box-judul{
  background-color: #7700FF;
  color: #fff;
  padding: 10px;
}

.box-isi .text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #000;
  margin: 10px;
}

.tanggal{
  padding: 10px;
  color: #000;
}


