.box-link{
  background-color: #fff;
  box-shadow: 0 0 10px 5px #e0e0e0;
  text-decoration: none;
  /* margin: 10px */
}

.box-link:hover{
  background-color: #e0e0e0;
  transition: 1s ease-out;
}


.judul-box{
  background-color: #7700FF;
  padding: 10px;
  color: #fff;
}

.isi-box{
  max-width: 100%;
}

.container-box{
  margin: 10px 10px 10px 10px;

}

.isi-box p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}
