*{
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@800&family=Roboto&display=swap');
}

body{
  margin: 0;
  padding: 0;
}

.lihat-selengkapnya{
  padding: 5%;
  padding-bottom: 0;
}

.lihat-selengkapnya a{
  text-decoration: none;
  color: #000;
}

/* .lihat-selengkapnya button{
  width: 200px;
  height: 50px;
} */

.bungkus{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-detail{

  background-color: rgb(240, 240, 240);
  width: 100%;
}

.wrapper{
  padding: 5% 10%;
  padding-bottom: 0;
}

.isi{
  padding: 10px 10% 10px;
  /* padding-bottom: 0; */
}

.wrapper-file{
  padding: 10%;
  padding-top: 0;
}

.container-dokumen{
  background-color: rgb(240, 240, 240);
  /* display: none; */
}

.container-dokumenTerkaitPengganti {
  background-color: rgb(240, 240, 240);
}


.box-file{
  display: flex;
  flex-wrap: wrap;
}

.container-canvas{
  width: 100%;
  padding: 4%;
  /* margin: 10px; */
}

canvas{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 10px 5px #e0e0e0; */
}

.box-frame{
  flex: 4;
  /* height: 20vh; */
  /* margin-right: 5px; */
  background-color: #fff;
  /* height: 100%; */
  /* padding: 10px; */
}
.box-kategori{
  flex: 2;
  margin-left: 5px;
  background-color: #fff;
}

.dokumen-not-found{
  text-align: center;
  background-color: #fff;
  color: #ccc;
  padding: 10px;
}

.dokumen-not-found h5{
  color: #ccc;
}

.container-footer{
  background-color: #dedede;
  height: auto;
}

.footer{
  height: 30vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 30px 0;
}

.footer-section{
  width: 20%;
  margin: 0 auto;
}

.footer .footer-section li{
  list-style-type: none;
  padding: auto;
}
 .footer .footer-section li a{
  text-decoration: none;
  color: #364f6b;
  padding: 0;
}

 .semua{
  flex-wrap: wrap;
  display: flex;
  background-color: #fff;
}

.semuaDokumen{
  margin: 10px;
  flex: 2;
  /* overflow: auto; */
}

.dokumenTerbaru{
  margin: 10px;
}

.judul-dokumen-terbaru h4{
  padding: 10px;
  text-align: center;
}

.baris{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  background-color: #fff;
}

.box-link{
  background-color: #fff;
  box-shadow: 0 0 10px 5px #e0e0e0;
  text-decoration: none;
}

.box-link:hover{
  background-color: #e0e0e0;
  transition: 1s ease-out;
}

.judul-box{
  background-color: #7700FF;
  padding: 10px;
  color: #fff;
}

.container-box{
  margin: 10px 10px 10px 10px;

}

.isi-box{
  max-width: 100%;
}
.isi-box{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  -webkit-line-clamp: 1;
}

.tombol{
  /* margin-top: 50px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.tombol button{
  width: 120px;
  border: 0;
  background-color: #7700ff;
  /* box-shadow: 0 0 10px 5px #e0e0e0; */
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.tombol button:hover{
  background-color: #5f01cb;
  transition: 2s;
}



.dokumenTerbaru-jumlahDokumen{
  /* display: grid; */
  margin: 10px;
  /* padding: 10px; */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* grid-gap: 20px;
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr)); */
  flex: 2;
}


.dokumen-terbaru{
  box-shadow: 0 0 20px 2px #e0e0e0;
}


.dokumen-terbaru .daftar-dokumen-terbaru{
  background-color: #fff;
}

.daftar-dokumen-terbaru .dokumen-1{
  margin: 10px;
  padding: 10px;
}




@media all and (max-width: 768px) {
  .box-file{
    display: block;
  }
  .box-kategori{
    display: none;
  }

  .box-frame{
    width: 100%;
  }

  .box-frame{
    width: 100%;
  }

  .wrapper{
    padding: 5%;
    padding-bottom: 0;
  }
  
  .isi{
    padding: 10px 5% 10px;
    /* padding-bottom: 0; */
  }

  .wrapper-file{
    padding: 5%;
    padding-top: 0;
  }

  .isi .semua{
    background-color: #fff;

  }

  .tombol{
    display: flex;
  }
  
  .tombol button{
    width: 100px;
    border: 0;
    background-color: #7700ff;
    /* box-shadow: 0 0 10px 5px #e0e0e0; */
    color: #fff;
    padding: 10px;
    border-radius: 50px;
  }
  
  .tombol button:hover{
    background-color: #5f01cb;
    transition: 2s;
  }

}

@media all and (max-width: 576px){
  .box-link{
    display: block;
  }

  .box-kategori{
    display: none;
  }

  .box-frame{
    width: 100%;
  }

  .wrapper{
    padding: 5%;
    padding-bottom: 0;
  }
  
  .isi{
    padding: 10px 5% 10px;
    /* padding-bottom: 0; */
  }
  
  .wrapper-file{
    padding: 5%;
    padding-top: 0;
  }

  .tombol{
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .tombol button{
    width: 120px;
    /* height: 10px; */
    border: 0;
    background-color: #7700ff;
    /* box-shadow: 0 0 10px 5px #e0e0e0; */
    color: #fff;
    padding: 10px;
    border-radius: 50px;
  }
  
  .tombol button:hover{
    background-color: #5f01cb;
    transition: 2s;
  }
}

