body{
  margin: 0;
  padding: 0;
}

.container-detail{

  background-color: rgb(240, 240, 240);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper{
  padding: 5%;
  padding-bottom: 0;
}

.container-dokumen{
  background-color: rgb(240, 240, 240);
}

.wrapper-file{
  padding: 5%;
  padding-top: 0;
}

.box-file{
  display: flex;
  flex-wrap: wrap;
}

iframe{
  width: 100%;
  padding: 10px;
  /* margin: 10px; */
}
.box-frame{
  flex: 4;
  /* height: 20vh; */
  margin-right: 5px;
  background-color: #fff;
  /* height: 100%; */
  /* padding: 10px; */
}
.box-kategori{
  flex: 2;
  margin-left: 5px;
  background-color: #fff;
}

.dokumen-not-found{
  text-align: center;
  background-color: #fff;
  color: #ccc;
  padding: 10px;
}

.dokumen-not-found h5{
  color: #ccc;
}

.container-footer{
  background-color: #dedede;
  height: auto;
}

.footer{
  height: 30vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 30px 0;
}

.footer-section{
  width: 20%;
  margin: 0 auto;
}

.footer .footer-section li{
  list-style-type: none;
  padding: auto;
}
 .footer .footer-section li a{
  text-decoration: none;
  color: #364f6b;
  padding: 0;
}

.isi{
  width: 100%;
}

.isi .isi-semuaDokumen-dokumenTerbaru{
  padding: 10px 5% 10px;
 
}

.isi-semuaDokumen-dokumenTerbaru .semua{
  flex-wrap: wrap ;
  display: flex;
  background-color: #fff;
}

.semuaDokumen{
  margin: 10px;
  flex: 2;
  /* overflow: auto; */
}

.dokumenTerbaru{
  margin: 10px;
}

.judul-dokumen-terbaru h4{
  padding: 10px;
  text-align: center;
}

.baris{
  /* overflow: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  /* height: 30vh; */
  /* width: 100%; */
}

.box-link{
  background-color: #fff;
  box-shadow: 0 0 10px 5px #e0e0e0;
  text-decoration: none;
}

.box-link:hover{
  background-color: #e0e0e0;
  transition: 1s ease-out;
}

.judul-box{
  background-color: #7700FF;
  padding: 10px;
  color: #fff;
}

.container-box{
  margin: 10px 10px 10px 10px;

}

.isi-box{
  max-width: 100%;
}
.isi-box{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.tombol{
  /* margin-top: 50px; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.tombol button{
  width: 120px;
  border: 0;
  background-color: #7700ff;
  /* box-shadow: 0 0 10px 5px #e0e0e0; */
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.tombol button:hover{
  background-color: #5f01cb;
  transition: 2s;
}



.dokumenTerbaru-jumlahDokumen{
  /* display: grid; */
  margin: 10px;
  /* padding: 10px; */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* grid-gap: 20px;
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr)); */
  flex: 2;
}


.dokumen-terbaru{
  box-shadow: 0 0 20px 2px #e0e0e0;
}


.dokumen-terbaru .daftar-dokumen-terbaru{
  background-color: #fff;
}

.daftar-dokumen-terbaru .dokumen-1{
  margin: 10px;
  padding: 10px;
}




@media all and (max-width: 768px) {
  .box-kategori{
    display: none;
  }

  .isi .isi-semuaDokumen-dokumenTerbaru{
    padding: 10px 5% 10px;
   
  }

  .isi-semuaDokumen-dokumenTerbaru .semua{
    background-color: #fff;

  }

  .tombol{
    display: flex;
  }
  
  .tombol button{
    width: 100px;
    border: 0;
    background-color: #7700ff;
    /* box-shadow: 0 0 10px 5px #e0e0e0; */
    color: #fff;
    padding: 10px;
    border-radius: 50px;
  }
  
  .tombol button:hover{
    background-color: #5f01cb;
    transition: 2s;
  }

}

@media all and (max-width: 576px){
  .box-link{
    display: block;
  }

  .container-dokumen{
    display: none;
  }

  .tombol{
    /* margin-top: 50px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .tombol button{
    width: 120px;
    /* height: 10px; */
    border: 0;
    background-color: #7700ff;
    /* box-shadow: 0 0 10px 5px #e0e0e0; */
    color: #fff;
    padding: 10px;
    border-radius: 50px;
  }
  
  .tombol button:hover{
    background-color: #5f01cb;
    transition: 2s;
  }
}

