.container-footer{
  background-color: #7700FF;
  color: #fff;
  width: 100%;
  height: auto;
}

.footer{
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 30px 0;
}

.footer-section{
  width: 20%;
  margin: 0 auto;
}

.footer .footer-section li{
  list-style-type: none;
  padding: auto;
}
 .footer .footer-section li a{
  text-decoration: none;
  color: #364f6b;
  padding: 0;
}

@media screen and (max-width: 576px){
  .container-footer{
    background-color: #7700FF;
    color: #fff;
    width: 100%;
    height: auto;
  }
  
  .footer{
    height: auto;
    width: 100%;
    position: relative;
    display: block;
    margin: auto;
    padding: 30px 0 30px 0;
  }
  
  .footer-section{
    width: 20%;
    margin: 0 auto;
  }

  .footer .footer-section h3{
    font-size: 12px;
  }
  
  .footer .footer-section li{
    list-style-type: none;
    padding: auto;
    font-size: 12px;
  }
   .footer .footer-section li a{
    text-decoration: none;
    color: #364f6b;
    padding: 0;
  }
}