body{
  margin: 0;
  padding: 0;
}

.bagian-search{
  padding: 5%;
  /* background-color: rgb(255, 204, 0); */
}

.bagian-dokumen{
  padding: 5%;

}

.container-pertama{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-dokumen{
  padding: 5px;
  /* height: 400px; */
}

.container-dokumen{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  /* height: 978px; */
}

.box{
  /* padding: 10px; */
  height: 200px;
  background-color: #ededed;;
  /* box-shadow: 1px 1px 1px 1px rgb(182, 182, 182); */
}

.pagination{
  background-color: #fff;
  margin: 20px auto;
  width: 50%;
  justify-content: center;
}

.isi p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box h5{
  background-color: #7700FF;;
  padding: 10px;
  color: #fff;
}
.box h5 a{
  color: #fff;
  text-decoration: none;
}

.box .isi{
  padding: 10px;
}

@media screen and (max-width: 576px){

  .container-dokumen{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    /* height: 978px; */
  }
}