*{
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */
  font-family: 'Manrope', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  /* background-color: #ba0000; */
}

.container-dashboard{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-semuaDokumen{
  padding: 20px;
}


.button-semuaDokumen button{
  /* display: flex; */
  place-content: center;
  border: 0;
  background-color: #7700ff;
  box-shadow: 0 0 10px 5px #e0e0e0;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.button-semuaDokumen button:hover{
  background-color: #5f01cb;
  transition: 2s;
}

.judul-box{
  background-color: #7700FF;
  padding: 10px;
  color: #fff;
}

.container-box{
  margin: 10px 10px 10px 10px;

}

.isi-box{
  /* max-width: 100%; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
}

.homepage{
  width: 100%;
}

.konten{
  padding: 5%;
  /* padding-bottom: 10px; */
}

.judul{
  margin: 10px;
}

.judul h1 {
  /* padding: 10px; */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.judul p {
  text-align: center;
  /* font-size: 2rem; */
}
.isi{
  width: 100%;
  /* background-color: #e0e0e0; */
}



.isi .isi-semuaDokumen-dokumenTerbaru{
  padding: 4%;
  
  /* padding-bottom: 10px; */
}

.isi .isi-semuaDokumen-dokumenTerbaru .semua{
  flex-wrap: wrap;
  display: flex;
  background-color: white;
  box-shadow: 0 0 5px 2px #e0e0e0;
  padding: 20px;
}

.semuaDokumen{
  padding: 10px;
  flex: 3;
}

.baris{
  display: grid;
  /* height: 200px; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-columns: 1fr; */
  grid-gap: 20px;
  /* width: 100%; */
}

.box-link{
  background-color: #fff;
  box-shadow: 0 0 10px 5px #e0e0e0;
  text-decoration: none;
  /* margin: 10px */
}


.box-link:hover{
  background-color: #e0e0e0;
  transition: 1s ease-out;
}


.tombol{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tombol button{
  /* justify-content: center; */
  border: 0;
  background-color: #7700FF;
  box-shadow: 0 0 10px 5px #e0e0e0;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.tombol button:hover{
  background-color: #5f01cb;
  transition: 2s;
}


.dokumen-1 h5{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.dokumenTerbaru-jumlahDokumen{
  padding: 10px;
  flex: 2;
}

.dokumen-terbaru{
  box-shadow: 0 0 20px 2px #e0e0e0;
}
.judul-dokumen-terbaru h4{
  padding: 10px;

  background-color: rgb(201, 201, 201);

}

.dokumen-terbaru .daftar-dokumen-terbaru{
  background-color: #fff;
}

.daftar-dokumen-terbaru .dokumen-1{
  padding: 10px;
}

@media  all and (max-width: 576px) {

  .judul h1 {
    /* padding: 10px; */
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .isi .isi-semuaDokumen-dokumenTerbaru{
    padding: 10px 5% 10px;
   
  }
  

  .isi-semuaDokumen-dokumenTerbaru .semua{
    background-color: #fff;

  }
  .baris{
    display: grid;
    grid-gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }

}
