body{
  margin: 0;
  padding: 0;
}

.bagian-search{
  padding: 5%;
  /* background-color: rgb(255, 204, 0); */
}

.bagian-dokumen{
  padding: 5%;

}

.container-dokumen{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}

.box{
  /* padding: 10px; */
  height: 200px;
  background-color: #ededed;;
  /* box-shadow: 1px 1px 1px 1px rgb(182, 182, 182); */
}

.pagination{
  background-color: #fff;
  margin: 20px auto;
  width: 50%;
  justify-content: center;
}

.isi p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.box h5{
  background-color: #7700FF;;
  padding: 10px;
  color: #fff;
}
.box h5 a{
  color: #fff;
  text-decoration: none;
}

.box .isi{
  padding: 10px;
}
/* 
@media screen and (max-width: 768px){
  .bagian-dokumen{
    height: 70vh;
  }
} */