*{
  margin: 0;
  padding: 0;
}

.container-dashboard{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage{
  width: 100%;
}

.isi{
  width: 100%;
}