body{
  margin: 0;
  padding: 0;
}

.bagian-search{
  /* padding: 5%; */
  /* background-color: rgb(255, 204, 0); */
}

.bagian-search .search{
  padding: 5%;
  /* background-color: rgb(198, 158, 0); */
}
.bagian-dokumen{
  padding: 5%;
}

.container-dokumen{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}

.box{
  padding: 10px;
  height: 200px;
  background-color: #fff;
  /* box-shadow: 1px 1px 1px 1px rgb(182, 182, 182); */
  border: 1px solid rgb(164, 164, 164);
}

.pagination{
  /* margin-top: 0fr; */
  margin: 20px auto;
  width: 50%;
  justify-content: center;
}

.container-footer{
  background-color: #dedede;
  height: auto;
}

.footer{
  height: 30vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 30px 0;
}

.footer-section{
  width: 20%;
  margin: 0 auto;
}

.footer .footer-section li{
  list-style-type: none;
  padding: auto;
}
 .footer .footer-section li a{
  text-decoration: none;
  color: #364f6b;
  padding: 0;
}
