*{
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
  font-family: 'Roboto', sans-serif;
}



body{
  margin: 0;
  padding: 0;
}

section{
  position: relative;
}

.box{
  display: flex;
  /* border: 1px #ccc solid; */
}

.box-detail{
  margin: 10px;
  display: flex;
  background-color: rgb(255, 255, 255);
  /* border: 1px rgb(143, 33, 33) solid; */
}

.container-pertama-detail{
  flex: 4;
  margin: 50px;
  /* border: 1px #ccc solid; */
}

.container-pertama-detail .row h3{
  font-weight: bold;
  /* border: 1px #ccc solid; */
}

.container-kedua-detail{
  flex: 2;
  /* border: 1px #ccc solid; */
}

.container-pertama{
  flex: 4;
  margin: 50px;
  /* border: 1px #ccc solid; */
}

.container-kedua{
  flex: 2;
  /* border: 1px #ccc solid; */
}

.row-dokumen{
  margin-top: 10px;
  border: 1px solid #ccc;
}

.container-kedua .dokumen-terbaru{
  margin: 50px 30px 0 30px;
  /* display: block; */
  /* position: relative; */
  /* background-color: bisque; */
}

.daftar-dokumen-terbaru .dokumen-1{
  border: 1px #ccc solid;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.container-kedua-detail .dokumen-terkait{
  margin: 50px 30px 0 30px;
  display: block;
}

.container-kedua-detail .dokumen-pengganti{
  margin: 50px 30px 0 30px;
  display: block;
}

.container-kedua .dokumen-terbaru h1{
  font-size: 20px;
}

.daftar-dokumen-terbaru{
  border: 1px #ccc solid;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
  /* overflow: auto; */
  position: relative;
}

.container-kedua-detail .dokumen-terkait h1{
  font-size: 20px;
}
.container-kedua-detail .dokumen-pengganti h1{
  font-size: 20px;
}
.daftar-dokumen-terkait{
  /* border: 1px #ccc solid; */
  border-radius: 10px;
  border: 1px solid #ccc;
  /* box-shadow: 0 4px 4px 0 rgba(0,0,0,.2); */
  overflow: auto;
  height: 10vh;
  background-color: rgb(255, 255, 255);
}

.daftar-dokumen-terkait .dokumen{
  border: 1px #ccc solid;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}

.daftar-dokumen-pengganti{
  /* border: 1px #ccc solid; */
  border-radius: 10px;
  /* box-shadow: 0 4px 4px 0 rgba(0,0,0,.2); */
  border: 1px solid #ccc;
  overflow: auto;
  height: 20vh;
  background-color: #fff;
}

.daftar-dokumen-pengganti .dokumen{
  border: 1px #ccc solid;
  padding: 20px;
  margin: 10px;
}


.dokumen-not-found{
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin: 20px 20px 20px 20px;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  background-color: #000000;
}

.dokumen-not-found h5{
  color: rgb(0, 0, 0);
}

.row-dokumen{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 8px;
  row-gap: 8px;
}

.container-kategori{
  margin: 100px 20px 50px 20px;
}

ul{
  padding: 0 20px 0 20px;
}

.card-dashboard{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 200px;
}

.card-dashboard .body {
  height: 150px;
}

.card-dashboard .footer{
  height: 50px;
  background-color: rgb(9, 99, 255);
}


.table tbody tr td{
  margin: 10px;
}

tr{
  height: 50px;
}

td{
  padding: 5px;
}

.card{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

input {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
li {
  padding: 0 10px 0 10px;
}

iframe{
  padding: 10px 0px 10px 0px;
}

tr{
  padding: 5px;
}

.card-dokumen-not-found{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.card-dokumen-not-found h1{
  padding: 10px;
}

.box-detail-not-found{
  display: none;
}

footer{
  height: 26vh;
  /* position: relative; */
  bottom: 0 auto;
  background-color: rgb(0, 0, 0);
  /* width: 100%; */
  color: rgb(0, 0, 0);
}

.container-footer{
  display: flex;
  height: 100%;
}

.container-footer h5{
  color: rgb(255, 255, 255);
}

.container-footer .label{
  flex: 6;
}

.container-footer .contact{
  flex: 6;
  margin: 10px;
}

.container-footer .label h5{

  padding: 20px;
  color: rgb(255, 255, 255);
}
.container-footer .contact h5{
  text-align: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.logo{
  display: flex;
}

.media-sosial-logo{
  flex: 2;
}

.row-logo{
  display: flex;
  justify-content: center;
}

.icon-medsos{
  margin: 0 auto;
  position: relative;
  left: 45%;
}

.icon-medsos svg{
  color: #fff;
}

#contact{
  background-color: #dedede;
  height: auto;
}

.footer{
  height: 30vh;
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 0 30px 0;
}

.table tbody tr{
  height: auto;
}
.table tbody tr td{
  padding: 10px;
  /* width: auto; */
}
.footer-section{
  width: 20%;
  margin: 0 auto;
}

.footer .footer-section li{
  list-style-type: none;
  padding: auto;
}
 .footer .footer-section li a{
  text-decoration: none;
  color: #364f6b;
  padding: 0;
}

h3{
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

.container-kedua-detail .semua-dokumen{
  margin: 50px 30px 0 30px;
  display: block;
}

.container-kedua-detail .semua-dokumen h1{
  font-size: 20px;
}

.daftar-dokumen-lain{
  border-radius: 10px;
  /* box-shadow: 4px 4px 4px 4px rgba(0.2,0.2,0,.2); */
  border: 1px solid #ccc;
  overflow: auto;
  height: 80vh;
  background-color: #fff;
}

.dokumen-lain{
  border-radius: 10px;
  padding: 20px;
  display: block;
  margin: 20px 20px 20px 20px;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  background-color: #ffffff;
}

@media screen and (max-width: 768px){
  
}